/* Styles pour le conteneur principal */
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Styles pour l'en-tête */
.header {
    padding: 20px;
    text-align: center;
}

.header__title {
    font-size: 48px; /* Agrandissement de la taille du titre */
    color: #333;
    margin-top: 50px; /* Marge supérieure augmentée */
}

.header__slogan {
    font-size: 24px; /* Taille du slogan réduite */
    color: #333;
    margin: 5px 0;
    text-align: center; /* Centré */
}

/* Style pour le titre "Au Programme" */
.sidebar__title {
    font-size: 36px;
    text-align: center;
    margin-top: 50px;
}

/* Styles pour le corps de la page */
body {
    background-image: url('route2.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; /* Empêche la répétition de l'image de fond */
    font-size: 18px;
    position: relative; /* Permet de positionner l'image sur le coin supérieur droit */
}

/* Styles pour les "Grands Thèmes" */
.lessons__title {
    text-align: center; /* Centre le titre */
    margin-top: 20px; /* Ajoute un espace au-dessus du titre */
    color: #333; /* Couleur du texte */
    font-size: 40px; /* Agrandissement de la taille du titre */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Ombre portée pour le texte */
}

.lessons__subtitle {
    text-align: center; /* Centre le sous-titre */
    margin-bottom: 20px; /* Ajoute un espace en dessous du sous-titre */
    color: #333; /* Couleur du texte */
    font-size: 35px; /* Agrandissement de la taille du sous-titre */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Ombre portée pour le texte */
}

/* Styles pour les thèmes */
.lessons__themes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.theme {
    width: 250px;
    height: 250px;
    margin: 10px;
    border-radius: 15px;
    text-align: center;
    overflow: hidden;
    background-color: transparent; /* Fond transparent */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
    border: 1px solid black; /* Ajout de la bordure noire */
}

.theme img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.theme h3 {
    color: #333; /* Couleur du texte */
    margin-top: 10px;
    font-size: 20px; /* Agrandissement de la taille du texte */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Ombre portée pour le texte */
}

/* Styles pour le contenu des leçons */
.lessons__content {
    padding: 20px;
    background-color: #333; 
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: none;
}

/* Styles pour le pied de page */
.footer {
    padding: 20px;
    text-align: center;
    margin-top: auto;
}

/* Style pour les rubriques dans des carrés */
.lessons-menu__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centrage horizontal */
}

.lessons-menu__item {
    margin: 10px;
}

.lessons-menu__link {
    display: inline-block;
    padding: 20px 30px;
    text-decoration: none;
    color: #5F5752;
    border: 2px solid #5F5752;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.lessons-menu__link:hover {
    background-color: #EAE6E1;
}

/* Réduction de la taille des titres de leçons */
.lesson__title {
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
}
