/* Styles pour le corps de la page */
body {
    background-image: url('code_route.webp'); /* Remplacez 'votre_image_de_fond.jpg' par le chemin de votre image de fond */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #f2f2f2; /* Ajoutez la couleur de fond en cas d'échec du chargement de l'image */
    color: #5F5752; /* Couleur du texte */
    margin: 0;
    font-family: Arial, sans-serif; /* Police de caractères */
}

/* Styles pour le conteneur principal */
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f2f2f2; /* Couleur de fond */
}

/* Styles pour l'en-tête */
.header {
    background-color: #EAE6E1;
    color: #5F5752;
    text-align: center;
    padding: 20px 0;
    position: relative;
    line-height: 60px; /* Assure le centrage vertical */
}

/* Bande avec une couleur nude pour le titre */
.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px; /* Hauteur de la bande */
    background-color: #D3C9BD; /* Couleur nude */
}

.header__title {
    font-family: "URW Chancery L", cursive;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
    position: relative;
}

.header__slogan {
    font-family: "URW Chancery L", cursive;
    font-size: 1.2rem;
    font-style: italic;
    margin-top: 5px;
}

/* Styles pour le pied de page */
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #EAE6E1;
    color: #5F5752;
    text-align: center;
    padding: 20px 0;
}

/* Bande avec une couleur nude pour le footer */
.footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px; /* Hauteur de la bande */
    background-color: #D3C9BD; /* Couleur nude */
}

/* Styles pour le menu-icon */
.menu-icon {
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    z-index: 1000;
}

.bar {
    width: 100%;
    height: 2px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.active .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 5px);
}

.active .bar:nth-child(2) {
    opacity: 0;
}

.active .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -5px);
}

/* Styles pour les séries d'entraînement */
.series-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.series {
    background-color: #EAE6E1;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 200px;
    margin-bottom: 20px;
}

.series h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.start-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.start-btn img {
    width: 150px; /* Définir la largeur souhaitée */
    height: 150px; /* Définir la hauteur souhaitée */
    object-fit: cover; /* Assure que l'image conserve ses proportions */
    margin-bottom: 10px; /* Ajoute un espace en dessous de l'image */
}

.start-btn:hover {
    background-color: #555;
}
