/* Styles pour le conteneur principal */
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Styles pour l'en-tête */
.header {
    background-color: #EAE6E1;
    padding: 20px;
    text-align: center;
}

.header__title {
    font-size: 32px; /* Agrandissement de la taille du titre */
    color: #333;
    margin: 0;
}

.header__slogan {
    font-style: italic;
    color: #666;
    margin: 5px 0;
}

/* Styles pour le corps de la page */
body {
    background-image: url('route.jpg'); 
    background-size: cover;
    background-position: center;
}

/* Styles pour les "Grands Thèmes" */
.lessons__title {
    text-align: center; /* Centre le titre */
    margin-top: 20px; /* Ajoute un espace au-dessus du titre */
    color: #333;
    font-size: 40px; /* Agrandissement de la taille du titre */
}

.lessons__subtitle {
    text-align: center; /* Centre le sous-titre */
    margin-bottom: 20px; /* Ajoute un espace en dessous du sous-titre */
    color: #333;
    font-size: 35px; /* Agrandissement de la taille du sous-titre */
}

/* Styles pour les thèmes */
.lessons__themes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.theme {
    width: 250px;
    height: 250px;
    margin: 10px;
    border-radius: 15px;
    text-align: center;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.theme:hover {
    background-color: #EAE6E1;
}

.theme img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.theme h3 {
    color: #333;
    margin-top: 10px;
    font-size: 20px; /* Agrandissement de la taille du texte */
}

/* Styles pour le contenu des leçons */
.lessons__content {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: none;
}

/* Styles pour le pied de page */
.footer {
    background-color: #EAE6E1;
    padding: 20px;
    text-align: center;
    margin-top: auto;
}
