body {
    background-color: #EAE6E1; 
    margin: 0;
    padding: 0;
    color: #5F5752; 
}

header {
    background-color: #EAE6E1; 
    color: #333;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

#login {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #5F5752; 
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc; 
    border-radius: 3px;
}

button {
    background-color: #D5C8BC; 
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #D5C8BC; 
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #EAE6E1; 
    color: #5F5752; 
    text-align: center;
    padding: 20px 0;
}
