/* Style pour le titre principal */
.header__title {
    font-size: 48px;
    text-align: center;
    margin-top: 50px;
}

/* Style pour le sous-titre */
.header__slogan {
    font-size: 24px;
    text-align: center;
}

/* Style pour le titre "Au Programme" */
.sidebar__title {
    font-size: 36px;
    text-align: center;
    margin-top: 50px;
}

/* Style pour les rubriques dans des carrés */
.lessons-menu__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centrage horizontal */
}

.lessons-menu__item {
    margin: 10px;
}

.lessons-menu__link {
    display: inline-block;
    padding: 20px 30px;
    text-decoration: none;
    color: #5F5752;
    border: 2px solid #5F5752;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.lessons-menu__link:hover {
    background-color: #EAE6E1;
}

/* Réduction de la taille des titres de leçons */
.lesson__title {
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
}

/* Ajout de l'image de fond */
body {
    background-image: url('route2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 18px;
    position: relative; /* Permet de positionner l'image sur le coin supérieur droit */
}

/* Ajout de l'image dans le coin supérieur droit */
#regle-circulation {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 100px; 
    height: auto; 
}
