/* Styles pour le corps de la page */
body {
    background-color: #f2f2f2;
    color: #5F5752;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Styles pour l'en-tête */
header {
    background-color: #EAE6E1;
    color: #5F5752;
    text-align: center;
    padding: 20px 0;
}

/* Styles pour le titre principal de l'en-tête */
header h1 {
    margin: 0;
    font-size: 24px;
    font-family: "URW Chancery L", cursive;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Styles pour le slogan de l'en-tête */
header p {
    font-family: "URW Chancery L", cursive;
    font-size: 1.2rem;
    font-style: italic;
    margin-top: 5px;
}

/* Styles pour le conteneur principal */
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Styles pour les sections */
section {
    margin-bottom: 30px;
}

/* Styles pour les titres de section */
section h2 {
    margin-top: 0;
    font-size: 20px;
}

/* Style pour le lien du pied de page */
footer a {
    color: #5F5752;
    text-decoration: none;
}

/* Style pour les liens du pied de page au survol */
footer a:hover {
    text-decoration: underline;
}

/* Style pour la vidéo */
.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Ratio 16:9 */
    margin-bottom: 20px; /* Ajout d'un espacement en bas de la vidéo */
}

.video-container video {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Style pour la source de la vidéo */
.video-container .video-source {
    margin-top: 10px; /* Ajouter un espace au-dessus de la source */
    text-align: center; /* Centrer le texte */
    font-size: 0.9em;
    color: #666;
}

/* Style pour le pied de page */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #EAE6E1;
    color: #5F5752;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px; /* Ajout d'un espacement entre le contenu et le footer */
}
